*
font-family: 'Mooli', sans-serif;

font-family: 'Barlow', sans-serif; 

orange #EF6536
blue #30506E
*/

body{
    font-size:16px;
    font-family:'Courier New', Courier, monospace
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color:orange;
}

header, 
.top{
    text-align: center;
}