/*
font-family: 'Mooli', sans-serif;
font-family: 'Barlow', sans-serif; 
*/

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;

}

h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

header,
.top {
    text-align: center;
}

div {
    text-align: center;
}

h4 {
    background-color: rgb(99, 124, 56);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    font-style: italic
}

p1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}

h6 {
    background-color: rgb(199, 172, 177);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    text-align: center;
}

img{
    width: 60%;

}


h5 {
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
    font-size: 25px;
}

p2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

p3 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#description{
    text-align: center;
}

#headshot{
    width: 300px;
    height: 450px;
}

