

body {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;

}

header,
.top {
    text-align: center;
    color: black;
}

div {
    text-align: center;
}

#description {
    text-align: center;
}

main,
section{
    margin: 3cm 0;
}

h1 {
    font-size: 55px;
}

h2 {
    background-color: rgb(99, 124, 56);
    font-size: xx-large;
    color: white;
    text-align: center;
    font-style: italic;
}

#description p,
#resume p,
#clubs p { 
    color: black;
}

h3 {
    background-color: rgb(199, 172, 177);
    font-size: xx-large;
    color: black;
    text-align: center;
}

img {
    width: 60%;

}

h4 {

    font-size: 25px;
}
 

